/* universal Box Sizing with Inheritance */
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

/* remove border outline */
*:focus {
    outline: none;
}

body {
	background-color: #f6f9fc;
	font: 16px/20px 'Avenir Next';
	color: #9db4ca;
}

/* menu */
.top-menu-wrapper {
	width: 100%;
	height: 90px;
	box-shadow: 0 1px 4px 0 #d8d8d8;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	z-index: 1020;
}

.top-menu {
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* brand */
.top-menu .brand {
	width: 260px;
	border: 1px solid rgba(189, 210, 230, .8);
	height: 48px;
}
/* !END brand */

/* search */
.top-menu .search-wrapper {
	width: 440px;
	height: 50px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #f6f9fc;
	padding: 0 30px;
	display: flex;
	align-items: center;
}

.top-menu .search-icon {
	background: url(../images/search-icon.svg) center center no-repeat;
	height: 22px;
	width: 21px;
	margin-right: 20px;
	flex-shrink: 0;
}

.top-menu .search {
	font: 20px/50px 'Avenir Next';
	border: none;
	background-color: transparent;
	padding: 0;
	color: #9db4ca;
	flex: 1 0 0;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* search placeholder */
.top-menu .search::-webkit-input-placeholder { color: #bdd2e6; }
.top-menu .search::-moz-placeholder { color: #bdd2e6; }
.top-menu .search:-ms-input-placeholder { color: #bdd2e6; }
.top-menu .search:-moz-placeholder { color: #bdd2e6; }
/* !END search */

.top-menu .right-side {
	display: flex;
	align-items: center;
}

/* notification */
.top-menu .notification {
	height: 23px;
	width: 23px;
	position: relative;
	cursor: pointer;
}

.top-menu .notification .notification-icon {
	background: url(../images/notification-icon.svg) center center no-repeat;
	height: 23px;
	width: 23px;
	display: block;
	position: absolute;
	z-index: 1;
}

.top-menu .notification .counter {
	width: 15px;
	height: 15px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
	background: #00aaa0;
	background: -moz-linear-gradient(45deg, #00aaa0 0%, #efe94b 100%);
	background: -webkit-linear-gradient(45deg, #00aaa0 0%,#efe94b 100%);
	background: linear-gradient(45deg, #00aaa0 0%,#efe94b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaa0', endColorstr='#efe94b',GradientType=1 );
	box-shadow: 0 1px 1px 0 rgba(215, 215, 215, 0.7);
	text-align: center;
	line-height: 15px;
	font-size: 11px;
	color: #f6f9fc;
	position: absolute;
	z-index: 2;
	right: -7px;
	top: -2px;
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* !END notification */

.top-menu .right-side .separator {
	width: 2px;
	height: 50px;
	background-color: #f6f9fc;
	margin: 0 20px 0 26px;
}

/* profile */
.top-menu .profile {
	display: flex;
}

.top-menu .profile .photo {
	width: 50px;
	height: 50px;
	background-color: rgba(246, 249, 252, 0.2);
	border: solid 2px #f6f9fc;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: url(../images/profile-photo.jpg) center center no-repeat;
	background-size: contain;
	margin-right: 10px;
}

.top-menu .profile .info .welcome {
	display: block;
	font-size: 16px;
	line-height: 24px;
	color: #bdd2e6;
}

.top-menu .profile .info .welcome .name {
	color: #9db4ca;
}

.top-menu .profile .info .signout {
	font-size: 14px;
	line-height: 22px;
	color: #c4c0c0;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
}

.top-menu .profile .info .signout-icon {
	background: url(../images/signout-icon.svg) center center no-repeat;
	height: 19px;
	width: 15px;
	margin-left: 10px;
}
/* !END menu */

/* main content */
.content-wrapper {
	width: 1200px;
	display: flex;
	margin: 0 auto;
	padding: 130px 0 40px;
}

.content-wrapper .left-colm > .item,
.content-wrapper .right-colm > .item {
	border-radius: 6px;
	box-shadow: 0 1px 1px 0 rgba(215, 215, 215, 0.7);
}

.content-wrapper .left-colm > .item:not(:last-child),
.content-wrapper .right-colm > .item:not(:last-child) {
	margin-bottom: 20px;
}

/* left colm */
.content-wrapper .left-colm {
	width: 298px;
	margin-right: 22px;
	flex-shrink: 0;
}

.content-wrapper .left-colm .item {
	text-align: center;
}

.content-wrapper .left-colm .item h3 {
	font-weight: 600;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 20px;
}

.show-all {
	font-size: 14px;
	line-height: 22px;
	color: #bdd2e6;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
}

.show-all .arrow-right-icon {
	background: url(../images/arrow-right-icon.svg) center center no-repeat;
	height: 12px;
	width: 12px;
	margin-left: 6px;
}

.content-wrapper .left-colm .item .show-all {
	margin-top: 6px;
}

/* recently saved */
.content-wrapper .left-colm .recently {
	background-color: #ffffff;
	padding: 20px 14px;
}

.content-wrapper .left-colm .recently h3 {
	color: #8190a0;
}

.content-wrapper .left-colm .recently .inner {
	display: flex;
	flex-wrap: wrap;
}

.content-wrapper .left-colm .recently .inner .saved {
	width: 128px;
	height: 128px;
	background-color: #bdd2e6;
	margin-bottom: 14px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	overflow: hidden;
}

.content-wrapper .left-colm .recently .inner .saved:nth-child(odd) {
	margin-right: 14px;
}

.content-wrapper .left-colm .recently .inner .saved .photos {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content-wrapper .left-colm .recently .inner .saved .photos > * {
	margin-top: 2px;
}

.content-wrapper .left-colm .recently .inner .saved .title {
	line-height: 25px;
	background-color: rgba(129, 144, 160, 0.9);
	color: #f6f6f6;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	right: 0;
}

/* popular packs */
.content-wrapper .left-colm .popular {
	background-color: #8190a0;
	padding: 20px;
}

.content-wrapper .left-colm .popular h3 {
	color: #f6f6f6;
}

.content-wrapper .left-colm .popular .inner {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.content-wrapper .left-colm .popular .inner .pack-link {
	color: #f6f9fc;
	text-decoration: none;
	margin-bottom: 20px;
}
/* !END left colm */

/* right colm */
.content-wrapper .right-colm {
	flex: 1 0 0;
}

.content-wrapper .right-colm .item {
	background-color: #ffffff;
}

.content-wrapper .right-colm .item:not(:last-child) {
	margin-bottom: 40px;
}

.content-wrapper .right-colm .item header {
	padding: 10px;
	border-bottom: 2px solid #f6f9fc;
	display: flex;
}

.content-wrapper .right-colm .item header .photo {
	width: 50px;
	height: 50px;
	background-color: rgba(246, 249, 252, 0.2);
	border: solid 2px #bdd2e6;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: url(../images/article-photo.jpg) center center no-repeat;
	background-size: contain;
	margin-right: 20px;
	flex-shrink: 0;
}

.content-wrapper .right-colm .item header .info {
	flex: 1 0 0;
}

.content-wrapper .right-colm .item header .name {
	color: #8190a0;
	display: block;
	line-height: 26px;
}

.content-wrapper .right-colm .item header .post {
	font-size: 14px;
	line-height: 22px;
	color: #9db4ca;
	display: block;
}

.content-wrapper .right-colm .item header .tags {
	display: flex;
	margin-left: 20px;
	align-items: center;
	flex-shrink: 0;
}

.content-wrapper .right-colm .item header .tag-wrapper {
	background: -moz-linear-gradient(45deg, rgba(0,170,160,0.5) 0%, rgba(0,170,160,0.5) 1%, rgba(239,233,75,0.5) 100%);
	background: -webkit-linear-gradient(45deg, rgba(0,170,160,0.5) 0%,rgba(0,170,160,0.5) 1%,rgba(239,233,75,0.5) 100%);
	background: linear-gradient(45deg, rgba(0,170,160,0.5) 0%,rgba(0,170,160,0.5) 1%,rgba(239,233,75,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8000aaa0', endColorstr='#80efe94b',GradientType=1 );
	-webkit-border-radius: 40px;
	border-radius: 40px;
	padding: 1px;
}

.content-wrapper .right-colm .item header .tag {
	-webkit-border-radius: 40px;
	border-radius: 40px;
	padding: 0 16px;
	color: #91d9c9;
	font-size: 14px;
	line-height: 30px;
	background-color: #ffffff;
	display: block;
}

.content-wrapper .right-colm .item header .tag-wrapper:not(:last-child) {
	margin-right: 10px
}

.content-wrapper .right-colm .item .content {
	border-bottom: 2px solid #f6f9fc;
	position: relative;
}

.content-wrapper .right-colm .item .content .inner {
	padding: 10px 45px 10px 10px;
	display: flex;
}

.content-wrapper .right-colm .item .content .actions {
	position: absolute;
	right: -22px;
	top: calc(50% - 51px);
}

.content-wrapper .right-colm .item .content .actions .btn-wrapper {
	background-color: #f6f9fc;
	-webkit-box-shadow: inset 1px 0 0 0 rgba(229,230,231, .7);
	box-shadow: inset 1px 0 0 0 rgba(229,230,231, .7);
	width: 38px;
	height: 38px;
	padding: 5px;
	box-sizing: content-box;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.content-wrapper .right-colm .item .content .actions .btn {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	width: inherit;
	height: inherit;
}

.content-wrapper .right-colm .item .content .actions .like-btn {
	margin-bottom: 8px;
}

.content-wrapper .right-colm .item .content .actions .like-btn .btn {
	background: url(../images/like-icon.svg) center center no-repeat #ffffff;
}

.content-wrapper .right-colm .item .content .actions .fav-btn .btn {
	background: url(../images/fav-icon.svg) center center no-repeat #ffffff;
}

.content-wrapper .right-colm .item .content .actions .like-btn.active .btn {
	background-image: url(../images/active-like-icon.svg);
}

.content-wrapper .right-colm .item .content .actions .fav-btn.active .btn {
	background-image: url(../images/active-fav-icon.svg);
}

.content-wrapper .right-colm .item .content .inner .photo {
	width: 130px;
	height: 130px;
	background-color: rgba(246, 249, 252, 0.2);
	background: url(../images/poster.jpg) center center no-repeat;
	background-size: contain;
	margin-right: 20px;
	flex-shrink: 0;
}

.content-wrapper .right-colm .item .content .article {
	flex: 1 0 0;
	text-align: justify;
}

.content-wrapper .right-colm .item .content .article .title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #8190a0;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-decoration: none;
	display: block;
}

.content-wrapper .right-colm .item .content .article .desc {
	color: #9db4ca;
	line-height: 22px;
	margin: 0;
}

.content-wrapper .right-colm .item footer {
	position: relative;
}

.content-wrapper .right-colm .item footer .inner {
	display: flex;
	height: 40px;
	align-items: center;
}

.content-wrapper .right-colm .item footer .date {
	flex: 1 0 0;
	font-size: 12px;
	line-height: 16px;
	color: #bdd2e6;
	margin-left: 10px;
}

.content-wrapper .right-colm .item footer .show-all {
	width: 150px;
	line-height: 40px;
	justify-content: center;
	flex-shrink: 0;
	border-left: 2px solid #f6f9fc;
}

.content-wrapper .right-colm .item footer .add-new-idea-wrapper {
	position: absolute;
	width: 160px;
	padding: 5px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1);
	left: calc(50% - 85px);
	bottom: -24px;
	box-sizing: content-box;
	background-color: #f6f9fc;
}

.content-wrapper .right-colm .item footer .add-new-idea {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	line-height: 38px;
	color: white;
	background: rgb(0,170,160);
	background: -moz-linear-gradient(77deg, rgba(0,170,160,1) 0%, rgba(239,233,75,1) 100%);
	background: -webkit-linear-gradient(77deg, rgba(0,170,160,1) 0%,rgba(239,233,75,1) 100%);
	background: linear-gradient(77deg, rgba(0,170,160,1) 0%,rgba(239,233,75,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aaa0', endColorstr='#efe94b',GradientType=1 );
}

.content-wrapper .right-colm .item footer .add-new-idea .plus-icon {
	background: url(../images/plus-icon.svg) center center no-repeat;
	height: 15px;
	width: 15px;
	margin-right: 10px;
}
/* !END right colm */
/* !END main content */
